{% extends 'userbase.html' %}
{% block prof %}
    {% for d in data %}
    	<span class="prfil-img"><img src=..{{d.7}} alt="image" style="width: 50px;height: 50px"> </span> 
		<div class="user-name">
			<p>{{d.1}}</p>
			
		</div>
	{%endfor%}
{% endblock%}
{% block msg %}
	{% for d in det %}
		<li><a href="/inbox/">
		<div class="user_img"><img src=..{{d.1}} alt="" style="width: 25px;height:25px"></div>
		<div class="notification_desc">
			<p>{{d.0}}</p>
		</div>
		<div class="clearfix"></div>	
		</li></a>
	{% endfor %}	
{% endblock %}

{% block feed%}
{% for f in feed%}
<li><a href="/feedback/">
	
   <div class="notification_desc">
	<p>{{f.0}}</p>
	
	</div>
  <div class="clearfix"></div>	
 </a></li>
 {% endfor %}
 {% endblock %}
{% block content %}
        <br><br>
                {% for d in data %}
                <center><img src=..{{d.7}} alt="image" style="width: 300px;height: 300px"></center>

                <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}                                
                <br><br>
                <center><input type="file" name="img" required=""><br>                
                <input type="submit" name="change" value="Change"></center>                   
                 
            </form>
            {% endfor %}
         
    </div>
</div>

{% endblock %}


